_.log
_.pid
_.seed
_go-worker/
_pg*
!.vscode/extensions.json
.cache
.cache
.cache/
.dev.vars
.dev.vars
.docusaurus
.DS_Store
.dynamodb/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.fusebox/
.github/copilot-instructions.md
.grunt
.idea
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.\*
.pnpm-debug.log*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.stylelintcache
.temp
.tern-port
.vscode-test
.vscode/*
.vuepress/dist
.wrangler
.wrangler
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
*.tsbuildinfo
**/.DS_Store
/cypress/screenshots/
/cypress/videos/
\*.lcov
\*.pid.lock
\*.tgz
\*.tsbuildinfo
auto-imports.d.ts
bower_components
build/Release
components.d.ts
composables.d.ts
coverage
coverage
dist
dist
dist-ssr
jspm_packages/
lerna-debug.log*
lerna-debug.log*
lib-cov
logs
logs
logs/
node_modules
node_modules/
npm-debug.log_
npm-debug.log*
out
pids
pnpm-debug.log*
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
tests_output/
web_modules/
yarn-debug.log*
yarn-debug.log*
yarn-error.log*

# Cloudflare KV exports
kv-keys.yaml
yarn-error.log*
