{
  "openapi": "3.0.0",
  "info": {
    "title": "Dave.io API",
    "version": "1.0.0",
    "description": "Automatically generated OpenAPI specification from endpoint analysis"
  },
  "servers": [
    {
      "url": "https://dave.io",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token authorization. Include 'Bearer ' prefix."
      }
    },
    "schemas": {
      "AiAltTextRequestSchema": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "image": {
            "type": "string"
          }
        }
      },
      "AiAltTextResponseSchema": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [true]
          },
          "alt_text": {
            "type": "string"
          },
          "confidence": {
            "type": "number"
          },
          "processing_time_ms": {
            "type": "number"
          },
          "timestamp": {
            "type": "string"
          }
        },
        "required": ["ok", "alt_text", "timestamp"]
      },
      "AiTicketDescriptionRequestSchema": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          }
        },
        "required": ["title"]
      },
      "AiTicketDescriptionResponseSchema": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [true]
          },
          "result": {
            "type": "object",
            "properties": {
              "description": {
                "type": "string"
              }
            },
            "required": ["description"]
          },
          "status": {
            "type": ["object", "null"],
            "properties": {
              "message": {
                "type": "string"
              }
            },
            "required": ["message"]
          },
          "error": {
            "type": "null"
          },
          "timestamp": {
            "type": "string"
          }
        },
        "required": ["ok", "result", "status", "error", "timestamp"]
      },
      "AiTicketEnrichRequestSchema": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "image": {
            "type": "object",
            "properties": {
              "data": {
                "type": "string"
              },
              "filename": {
                "type": "string"
              }
            },
            "required": ["data", "filename"]
          }
        },
        "required": ["title"]
      },
      "AiTicketEnrichResponseSchema": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [true]
          },
          "result": {
            "type": "object",
            "properties": {
              "description": {
                "type": "string"
              }
            },
            "required": ["description"]
          },
          "status": {
            "type": ["object", "null"],
            "properties": {
              "message": {
                "type": "string"
              }
            },
            "required": ["message"]
          },
          "error": {
            "type": "null"
          },
          "timestamp": {
            "type": "string"
          }
        },
        "required": ["ok", "result", "status", "error", "timestamp"]
      },
      "AiTicketImageDataSchema": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          }
        },
        "required": ["data", "filename"]
      },
      "AiTicketTitleRequestSchema": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "image": {
            "type": "object",
            "properties": {
              "data": {
                "type": "string"
              },
              "filename": {
                "type": "string"
              }
            },
            "required": ["data", "filename"]
          }
        }
      },
      "AiTicketTitleResponseSchema": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [true]
          },
          "result": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              }
            },
            "required": ["title"]
          },
          "status": {
            "type": ["object", "null"],
            "properties": {
              "message": {
                "type": "string"
              }
            },
            "required": ["message"]
          },
          "error": {
            "type": "null"
          },
          "timestamp": {
            "type": "string"
          }
        },
        "required": ["ok", "result", "status", "error", "timestamp"]
      },
      "ApiErrorResponseSchema": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [false]
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "status": {
            "type": ["object", "null"],
            "properties": {
              "message": {
                "type": "string"
              }
            },
            "required": ["message"]
          },
          "details": {},
          "meta": {
            "type": "object",
            "properties": {
              "request_id": {
                "type": "string"
              }
            }
          },
          "timestamp": {
            "type": "string"
          }
        },
        "required": ["ok", "error", "message", "status", "timestamp"]
      },
      "ApiSuccessResponseSchema": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [true]
          },
          "result": {},
          "message": {
            "type": "string"
          },
          "error": {
            "type": "null"
          },
          "status": {
            "type": ["object", "null"],
            "properties": {
              "message": {
                "type": "string"
              }
            },
            "required": ["message"]
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "number"
              },
              "page": {
                "type": "number"
              },
              "per_page": {
                "type": "number"
              },
              "total_pages": {
                "type": "number"
              },
              "request_id": {
                "type": "string"
              }
            }
          },
          "timestamp": {
            "type": "string"
          }
        },
        "required": ["ok", "message", "error", "status", "timestamp"]
      },
      "AuthIntrospectionSchema": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "valid": {
                "type": "boolean"
              },
              "payload": {
                "type": "object",
                "properties": {
                  "sub": {
                    "type": "string"
                  },
                  "iat": {
                    "type": "number"
                  },
                  "exp": {
                    "type": "number"
                  },
                  "jti": {
                    "type": "string"
                  }
                },
                "required": ["sub", "iat"]
              },
              "user": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "issuedAt": {
                    "type": "string"
                  },
                  "expiresAt": {
                    "type": ["string", "null"]
                  },
                  "tokenId": {
                    "type": "string"
                  }
                },
                "required": ["id", "issuedAt", "expiresAt"]
              },
              "error": {
                "type": "string"
              }
            },
            "required": ["valid"]
          },
          "message": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          }
        },
        "required": ["ok", "data", "timestamp"]
      },
      "AuthSuccessResponseSchema": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [true]
          },
          "message": {
            "type": "string"
          },
          "jwt": {
            "type": "object",
            "properties": {
              "sub": {
                "type": "string"
              },
              "iat": {
                "type": "number"
              },
              "exp": {
                "type": "number"
              },
              "jti": {
                "type": "string"
              }
            },
            "required": ["sub", "iat"]
          },
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "issuedAt": {
                "type": "string"
              },
              "expiresAt": {
                "type": ["string", "null"]
              },
              "tokenId": {
                "type": "string"
              }
            },
            "required": ["id", "issuedAt", "expiresAt"]
          },
          "timestamp": {
            "type": "string"
          }
        },
        "required": ["ok", "message", "jwt", "user", "timestamp"]
      },
      "CreateRedirectSchema": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[\\w-]+$"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "required": ["slug", "url"]
      },
      "EnhancedPingResponseSchema": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "cloudflare": {
                "type": "object",
                "properties": {
                  "connectingIP": {
                    "type": "string"
                  },
                  "country": {
                    "type": "object",
                    "properties": {
                      "ip": {
                        "type": "string"
                      },
                      "primary": {
                        "type": "string"
                      }
                    },
                    "required": ["ip", "primary"]
                  },
                  "datacentre": {
                    "type": "string"
                  },
                  "ray": {
                    "type": "string"
                  },
                  "request": {
                    "type": "object",
                    "properties": {
                      "agent": {
                        "type": "string"
                      },
                      "host": {
                        "type": "string"
                      },
                      "method": {
                        "type": "string"
                      },
                      "path": {
                        "type": "string"
                      },
                      "proto": {
                        "type": "object",
                        "properties": {
                          "forward": {
                            "type": "string"
                          },
                          "request": {
                            "type": "string"
                          }
                        },
                        "required": ["forward", "request"]
                      },
                      "version": {
                        "type": "string"
                      }
                    },
                    "required": ["agent", "host", "method", "path", "proto", "version"]
                  }
                },
                "required": ["connectingIP", "country", "datacentre", "ray", "request"]
              },
              "worker": {
                "type": "object",
                "properties": {
                  "edge_functions": {
                    "type": "boolean"
                  },
                  "environment": {
                    "type": "string"
                  },
                  "limits": {
                    "type": "object",
                    "properties": {
                      "cpu_time": {
                        "type": "string"
                      },
                      "memory": {
                        "type": "string"
                      },
                      "request_timeout": {
                        "type": "string"
                      }
                    },
                    "required": ["cpu_time", "memory", "request_timeout"]
                  },
                  "preset": {
                    "type": "string"
                  },
                  "runtime": {
                    "type": "string"
                  },
                  "server_side_rendering": {
                    "type": "boolean"
                  },
                  "version": {
                    "type": "string"
                  }
                },
                "required": [
                  "edge_functions",
                  "environment",
                  "limits",
                  "preset",
                  "runtime",
                  "server_side_rendering",
                  "version"
                ]
              }
            },
            "required": ["cloudflare", "worker"]
          },
          "auth": {
            "type": "object",
            "properties": {
              "supplied": {
                "type": "boolean"
              },
              "token": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string"
                  },
                  "valid": {
                    "type": "boolean"
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "subject": {
                        "type": "string"
                      },
                      "tokenId": {
                        "type": ["string", "null"]
                      },
                      "issuedAt": {
                        "type": "string"
                      },
                      "expiresAt": {
                        "type": ["string", "null"]
                      }
                    },
                    "required": ["subject", "tokenId", "issuedAt", "expiresAt"]
                  }
                },
                "required": ["value", "valid"]
              }
            },
            "required": ["supplied"]
          },
          "headers": {
            "type": "object",
            "properties": {
              "count": {
                "type": "number"
              },
              "cloudflare": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "forwarding": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "other": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "required": ["count", "cloudflare", "forwarding", "other"]
          },
          "ok": {
            "type": "boolean",
            "enum": [true]
          },
          "timestamp": {
            "type": "string"
          }
        },
        "required": ["data", "auth", "headers", "ok", "timestamp"]
      },
      "HealthCheckSchema": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["ok", "error"]
          },
          "timestamp": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "environment": {
            "type": "string"
          },
          "runtime": {
            "type": "string"
          },
          "cf_ray": {
            "type": "string"
          },
          "cf_datacenter": {
            "type": "string"
          }
        },
        "required": ["status", "timestamp", "version", "environment"]
      },
      "ImageOptimisationQuerySchema": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "quality": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          }
        },
        "required": ["url"]
      },
      "ImageOptimisationRequestSchema": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string"
          },
          "quality": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          }
        }
      },
      "ImageOptimisationResponseSchema": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [true]
          },
          "data": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              },
              "originalSizeBytes": {
                "type": "number"
              },
              "optimisedSizeBytes": {
                "type": "number"
              },
              "compressionRatio": {
                "type": "number"
              },
              "format": {
                "type": "string",
                "enum": ["webp"]
              },
              "hash": {
                "type": "string"
              },
              "quality": {
                "type": "number"
              },
              "preset": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "enum": ["alt"]
                  },
                  "description": {
                    "type": "string"
                  },
                  "maxSizeBytes": {
                    "type": "number"
                  }
                },
                "required": ["name", "description", "maxSizeBytes"]
              },
              "imageSource": {
                "type": "string"
              },
              "timestamp": {
                "type": "string"
              }
            },
            "required": [
              "url",
              "originalSizeBytes",
              "optimisedSizeBytes",
              "compressionRatio",
              "format",
              "hash",
              "imageSource",
              "timestamp"
            ]
          },
          "message": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          }
        },
        "required": ["ok", "data", "message", "timestamp"]
      },
      "JWTDetailsSchema": {
        "type": "object",
        "properties": {
          "sub": {
            "type": "string"
          },
          "iat": {
            "type": "number"
          },
          "exp": {
            "type": "number"
          },
          "jti": {
            "type": "string"
          }
        },
        "required": ["sub", "iat"]
      },
      "JWTPayloadSchema": {
        "type": "object",
        "properties": {
          "sub": {
            "type": "string"
          },
          "iat": {
            "type": "number"
          },
          "exp": {
            "type": "number"
          },
          "jti": {
            "type": "string"
          }
        },
        "required": ["sub", "iat"]
      },
      "KVDataSchema": {
        "type": "object",
        "properties": {
          "metrics": {
            "type": "object",
            "properties": {
              "resources": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "number"
                    },
                    "error": {
                      "type": "number"
                    },
                    "times": {
                      "type": "object",
                      "properties": {
                        "last-hit": {
                          "type": "number"
                        },
                        "last-error": {
                          "type": "number"
                        },
                        "last-ok": {
                          "type": "number"
                        }
                      },
                      "required": ["last-hit", "last-error", "last-ok"]
                    },
                    "visitor": {
                      "type": "object",
                      "properties": {
                        "human": {
                          "type": "number"
                        },
                        "bot": {
                          "type": "number"
                        },
                        "unknown": {
                          "type": "number"
                        }
                      },
                      "required": ["human", "bot", "unknown"]
                    },
                    "group": {
                      "type": "object",
                      "properties": {
                        "1xx": {
                          "type": "number"
                        },
                        "2xx": {
                          "type": "number"
                        },
                        "3xx": {
                          "type": "number"
                        },
                        "4xx": {
                          "type": "number"
                        },
                        "5xx": {
                          "type": "number"
                        }
                      },
                      "required": ["1xx", "2xx", "3xx", "4xx", "5xx"]
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "304": {
                          "type": "number"
                        },
                        "307": {
                          "type": "number"
                        },
                        "404": {
                          "type": "number"
                        },
                        "405": {
                          "type": "number"
                        },
                        "500": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": ["ok", "error", "times", "visitor", "group", "status"]
                }
              },
              "redirect": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "number"
                    },
                    "error": {
                      "type": "number"
                    },
                    "times": {
                      "type": "object",
                      "properties": {
                        "last-hit": {
                          "type": "number"
                        },
                        "last-error": {
                          "type": "number"
                        },
                        "last-ok": {
                          "type": "number"
                        }
                      },
                      "required": ["last-hit", "last-error", "last-ok"]
                    },
                    "visitor": {
                      "type": "object",
                      "properties": {
                        "human": {
                          "type": "number"
                        },
                        "bot": {
                          "type": "number"
                        },
                        "unknown": {
                          "type": "number"
                        }
                      },
                      "required": ["human", "bot", "unknown"]
                    },
                    "group": {
                      "type": "object",
                      "properties": {
                        "1xx": {
                          "type": "number"
                        },
                        "2xx": {
                          "type": "number"
                        },
                        "3xx": {
                          "type": "number"
                        },
                        "4xx": {
                          "type": "number"
                        },
                        "5xx": {
                          "type": "number"
                        }
                      },
                      "required": ["1xx", "2xx", "3xx", "4xx", "5xx"]
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "304": {
                          "type": "number"
                        },
                        "307": {
                          "type": "number"
                        },
                        "404": {
                          "type": "number"
                        },
                        "405": {
                          "type": "number"
                        },
                        "500": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": ["ok", "error", "times", "visitor", "group", "status"]
                }
              },
              "ok": {
                "type": "number"
              },
              "error": {
                "type": "number"
              },
              "times": {
                "type": "object",
                "properties": {
                  "last-hit": {
                    "type": "number"
                  },
                  "last-error": {
                    "type": "number"
                  },
                  "last-ok": {
                    "type": "number"
                  }
                },
                "required": ["last-hit", "last-error", "last-ok"]
              },
              "visitor": {
                "type": "object",
                "properties": {
                  "human": {
                    "type": "number"
                  },
                  "bot": {
                    "type": "number"
                  },
                  "unknown": {
                    "type": "number"
                  }
                },
                "required": ["human", "bot", "unknown"]
              },
              "group": {
                "type": "object",
                "properties": {
                  "1xx": {
                    "type": "number"
                  },
                  "2xx": {
                    "type": "number"
                  },
                  "3xx": {
                    "type": "number"
                  },
                  "4xx": {
                    "type": "number"
                  },
                  "5xx": {
                    "type": "number"
                  }
                },
                "required": ["1xx", "2xx", "3xx", "4xx", "5xx"]
              },
              "status": {
                "type": "object",
                "properties": {
                  "304": {
                    "type": "number"
                  },
                  "307": {
                    "type": "number"
                  },
                  "404": {
                    "type": "number"
                  },
                  "405": {
                    "type": "number"
                  },
                  "500": {
                    "type": "number"
                  }
                }
              }
            },
            "required": ["resources", "redirect", "ok", "error", "times", "visitor", "group", "status"]
          },
          "redirect": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "format": "uri"
            }
          }
        },
        "required": ["metrics", "redirect"]
      },
      "KVGroupMetricsSchema": {
        "type": "object",
        "properties": {
          "1xx": {
            "type": "number"
          },
          "2xx": {
            "type": "number"
          },
          "3xx": {
            "type": "number"
          },
          "4xx": {
            "type": "number"
          },
          "5xx": {
            "type": "number"
          }
        },
        "required": ["1xx", "2xx", "3xx", "4xx", "5xx"]
      },
      "KVMetricsSchema": {
        "type": "object",
        "properties": {
          "resources": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "ok": {
                  "type": "number"
                },
                "error": {
                  "type": "number"
                },
                "times": {
                  "type": "object",
                  "properties": {
                    "last-hit": {
                      "type": "number"
                    },
                    "last-error": {
                      "type": "number"
                    },
                    "last-ok": {
                      "type": "number"
                    }
                  },
                  "required": ["last-hit", "last-error", "last-ok"]
                },
                "visitor": {
                  "type": "object",
                  "properties": {
                    "human": {
                      "type": "number"
                    },
                    "bot": {
                      "type": "number"
                    },
                    "unknown": {
                      "type": "number"
                    }
                  },
                  "required": ["human", "bot", "unknown"]
                },
                "group": {
                  "type": "object",
                  "properties": {
                    "1xx": {
                      "type": "number"
                    },
                    "2xx": {
                      "type": "number"
                    },
                    "3xx": {
                      "type": "number"
                    },
                    "4xx": {
                      "type": "number"
                    },
                    "5xx": {
                      "type": "number"
                    }
                  },
                  "required": ["1xx", "2xx", "3xx", "4xx", "5xx"]
                },
                "status": {
                  "type": "object",
                  "properties": {
                    "304": {
                      "type": "number"
                    },
                    "307": {
                      "type": "number"
                    },
                    "404": {
                      "type": "number"
                    },
                    "405": {
                      "type": "number"
                    },
                    "500": {
                      "type": "number"
                    }
                  }
                }
              },
              "required": ["ok", "error", "times", "visitor", "group", "status"]
            }
          },
          "redirect": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "ok": {
                  "type": "number"
                },
                "error": {
                  "type": "number"
                },
                "times": {
                  "type": "object",
                  "properties": {
                    "last-hit": {
                      "type": "number"
                    },
                    "last-error": {
                      "type": "number"
                    },
                    "last-ok": {
                      "type": "number"
                    }
                  },
                  "required": ["last-hit", "last-error", "last-ok"]
                },
                "visitor": {
                  "type": "object",
                  "properties": {
                    "human": {
                      "type": "number"
                    },
                    "bot": {
                      "type": "number"
                    },
                    "unknown": {
                      "type": "number"
                    }
                  },
                  "required": ["human", "bot", "unknown"]
                },
                "group": {
                  "type": "object",
                  "properties": {
                    "1xx": {
                      "type": "number"
                    },
                    "2xx": {
                      "type": "number"
                    },
                    "3xx": {
                      "type": "number"
                    },
                    "4xx": {
                      "type": "number"
                    },
                    "5xx": {
                      "type": "number"
                    }
                  },
                  "required": ["1xx", "2xx", "3xx", "4xx", "5xx"]
                },
                "status": {
                  "type": "object",
                  "properties": {
                    "304": {
                      "type": "number"
                    },
                    "307": {
                      "type": "number"
                    },
                    "404": {
                      "type": "number"
                    },
                    "405": {
                      "type": "number"
                    },
                    "500": {
                      "type": "number"
                    }
                  }
                }
              },
              "required": ["ok", "error", "times", "visitor", "group", "status"]
            }
          },
          "ok": {
            "type": "number"
          },
          "error": {
            "type": "number"
          },
          "times": {
            "type": "object",
            "properties": {
              "last-hit": {
                "type": "number"
              },
              "last-error": {
                "type": "number"
              },
              "last-ok": {
                "type": "number"
              }
            },
            "required": ["last-hit", "last-error", "last-ok"]
          },
          "visitor": {
            "type": "object",
            "properties": {
              "human": {
                "type": "number"
              },
              "bot": {
                "type": "number"
              },
              "unknown": {
                "type": "number"
              }
            },
            "required": ["human", "bot", "unknown"]
          },
          "group": {
            "type": "object",
            "properties": {
              "1xx": {
                "type": "number"
              },
              "2xx": {
                "type": "number"
              },
              "3xx": {
                "type": "number"
              },
              "4xx": {
                "type": "number"
              },
              "5xx": {
                "type": "number"
              }
            },
            "required": ["1xx", "2xx", "3xx", "4xx", "5xx"]
          },
          "status": {
            "type": "object",
            "properties": {
              "304": {
                "type": "number"
              },
              "307": {
                "type": "number"
              },
              "404": {
                "type": "number"
              },
              "405": {
                "type": "number"
              },
              "500": {
                "type": "number"
              }
            }
          }
        },
        "required": ["resources", "redirect", "ok", "error", "times", "visitor", "group", "status"]
      },
      "KVRedirectMappingSchema": {
        "type": "object",
        "additionalProperties": {
          "type": "string",
          "format": "uri"
        }
      },
      "KVRedirectMetricsSchema": {
        "type": "object",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "ok": {
              "type": "number"
            },
            "error": {
              "type": "number"
            },
            "times": {
              "type": "object",
              "properties": {
                "last-hit": {
                  "type": "number"
                },
                "last-error": {
                  "type": "number"
                },
                "last-ok": {
                  "type": "number"
                }
              },
              "required": ["last-hit", "last-error", "last-ok"]
            },
            "visitor": {
              "type": "object",
              "properties": {
                "human": {
                  "type": "number"
                },
                "bot": {
                  "type": "number"
                },
                "unknown": {
                  "type": "number"
                }
              },
              "required": ["human", "bot", "unknown"]
            },
            "group": {
              "type": "object",
              "properties": {
                "1xx": {
                  "type": "number"
                },
                "2xx": {
                  "type": "number"
                },
                "3xx": {
                  "type": "number"
                },
                "4xx": {
                  "type": "number"
                },
                "5xx": {
                  "type": "number"
                }
              },
              "required": ["1xx", "2xx", "3xx", "4xx", "5xx"]
            },
            "status": {
              "type": "object",
              "properties": {
                "304": {
                  "type": "number"
                },
                "307": {
                  "type": "number"
                },
                "404": {
                  "type": "number"
                },
                "405": {
                  "type": "number"
                },
                "500": {
                  "type": "number"
                }
              }
            }
          },
          "required": ["ok", "error", "times", "visitor", "group", "status"]
        }
      },
      "KVResourceMetricsSchema": {
        "type": "object",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "ok": {
              "type": "number"
            },
            "error": {
              "type": "number"
            },
            "times": {
              "type": "object",
              "properties": {
                "last-hit": {
                  "type": "number"
                },
                "last-error": {
                  "type": "number"
                },
                "last-ok": {
                  "type": "number"
                }
              },
              "required": ["last-hit", "last-error", "last-ok"]
            },
            "visitor": {
              "type": "object",
              "properties": {
                "human": {
                  "type": "number"
                },
                "bot": {
                  "type": "number"
                },
                "unknown": {
                  "type": "number"
                }
              },
              "required": ["human", "bot", "unknown"]
            },
            "group": {
              "type": "object",
              "properties": {
                "1xx": {
                  "type": "number"
                },
                "2xx": {
                  "type": "number"
                },
                "3xx": {
                  "type": "number"
                },
                "4xx": {
                  "type": "number"
                },
                "5xx": {
                  "type": "number"
                }
              },
              "required": ["1xx", "2xx", "3xx", "4xx", "5xx"]
            },
            "status": {
              "type": "object",
              "properties": {
                "304": {
                  "type": "number"
                },
                "307": {
                  "type": "number"
                },
                "404": {
                  "type": "number"
                },
                "405": {
                  "type": "number"
                },
                "500": {
                  "type": "number"
                }
              }
            }
          },
          "required": ["ok", "error", "times", "visitor", "group", "status"]
        }
      },
      "KVSampleMetricsSchema": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "number"
          },
          "error": {
            "type": "number"
          },
          "times": {
            "type": "object",
            "properties": {
              "last-hit": {
                "type": "number"
              },
              "last-error": {
                "type": "number"
              },
              "last-ok": {
                "type": "number"
              }
            },
            "required": ["last-hit", "last-error", "last-ok"]
          },
          "visitor": {
            "type": "object",
            "properties": {
              "human": {
                "type": "number"
              },
              "bot": {
                "type": "number"
              },
              "unknown": {
                "type": "number"
              }
            },
            "required": ["human", "bot", "unknown"]
          },
          "group": {
            "type": "object",
            "properties": {
              "1xx": {
                "type": "number"
              },
              "2xx": {
                "type": "number"
              },
              "3xx": {
                "type": "number"
              },
              "4xx": {
                "type": "number"
              },
              "5xx": {
                "type": "number"
              }
            },
            "required": ["1xx", "2xx", "3xx", "4xx", "5xx"]
          },
          "status": {
            "type": "object",
            "properties": {
              "304": {
                "type": "number"
              },
              "307": {
                "type": "number"
              },
              "404": {
                "type": "number"
              },
              "405": {
                "type": "number"
              },
              "500": {
                "type": "number"
              }
            }
          }
        },
        "required": ["ok", "error", "times", "visitor", "group", "status"]
      },
      "KVStatusMetricsSchema": {
        "type": "object",
        "properties": {
          "304": {
            "type": "number"
          },
          "307": {
            "type": "number"
          },
          "404": {
            "type": "number"
          },
          "405": {
            "type": "number"
          },
          "500": {
            "type": "number"
          }
        }
      },
      "KVTimeMetricsSchema": {
        "type": "object",
        "properties": {
          "last-hit": {
            "type": "number"
          },
          "last-error": {
            "type": "number"
          },
          "last-ok": {
            "type": "number"
          }
        },
        "required": ["last-hit", "last-error", "last-ok"]
      },
      "KVVisitorMetricsSchema": {
        "type": "object",
        "properties": {
          "human": {
            "type": "number"
          },
          "bot": {
            "type": "number"
          },
          "unknown": {
            "type": "number"
          }
        },
        "required": ["human", "bot", "unknown"]
      },
      "PingResponseSchema": {
        "type": "object",
        "properties": {
          "cloudflare": {
            "type": "object",
            "properties": {
              "connectingIP": {
                "type": "string"
              },
              "country": {
                "type": "object",
                "properties": {
                  "ip": {
                    "type": "string"
                  },
                  "primary": {
                    "type": "string"
                  }
                },
                "required": ["ip", "primary"]
              },
              "datacentre": {
                "type": "string"
              },
              "ray": {
                "type": "string"
              },
              "request": {
                "type": "object",
                "properties": {
                  "agent": {
                    "type": "string"
                  },
                  "host": {
                    "type": "string"
                  },
                  "method": {
                    "type": "string"
                  },
                  "path": {
                    "type": "string"
                  },
                  "proto": {
                    "type": "object",
                    "properties": {
                      "forward": {
                        "type": "string"
                      },
                      "request": {
                        "type": "string"
                      }
                    },
                    "required": ["forward", "request"]
                  },
                  "version": {
                    "type": "string"
                  }
                },
                "required": ["agent", "host", "method", "path", "proto", "version"]
              }
            },
            "required": ["connectingIP", "country", "datacentre", "ray", "request"]
          },
          "worker": {
            "type": "object",
            "properties": {
              "edge_functions": {
                "type": "boolean"
              },
              "environment": {
                "type": "string"
              },
              "limits": {
                "type": "object",
                "properties": {
                  "cpu_time": {
                    "type": "string"
                  },
                  "memory": {
                    "type": "string"
                  },
                  "request_timeout": {
                    "type": "string"
                  }
                },
                "required": ["cpu_time", "memory", "request_timeout"]
              },
              "preset": {
                "type": "string"
              },
              "runtime": {
                "type": "string"
              },
              "server_side_rendering": {
                "type": "boolean"
              },
              "version": {
                "type": "string"
              }
            },
            "required": [
              "edge_functions",
              "environment",
              "limits",
              "preset",
              "runtime",
              "server_side_rendering",
              "version"
            ]
          }
        },
        "required": ["cloudflare", "worker"]
      },
      "TokenMetricsSchema": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [true]
          },
          "data": {
            "type": "object",
            "properties": {
              "total_requests": {
                "type": "number"
              },
              "successful_requests": {
                "type": "number"
              },
              "failed_requests": {
                "type": "number"
              },
              "redirect_clicks": {
                "type": "number"
              },
              "kv_timings_ms": {
                "type": "object",
                "additionalProperties": {
                  "type": "number"
                }
              }
            },
            "required": ["total_requests", "successful_requests", "failed_requests", "redirect_clicks"]
          },
          "timestamp": {
            "type": "string"
          }
        },
        "required": ["ok", "data", "timestamp"]
      },
      "TokenUsageSchema": {
        "type": "object",
        "properties": {
          "token_id": {
            "type": "string"
          },
          "usage_count": {
            "type": "number"
          },
          "max_requests": {
            "type": ["number", "null"]
          },
          "created_at": {
            "type": "string"
          },
          "last_used": {
            "type": "string"
          }
        },
        "required": ["token_id", "usage_count", "created_at"]
      },
      "UrlRedirectSchema": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[\\w-]+$"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "clicks": {
            "type": "number",
            "default": 0
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "required": ["slug", "url", "created_at"]
      },
      "UserSchema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "issuedAt": {
            "type": "string"
          },
          "expiresAt": {
            "type": ["string", "null"]
          },
          "tokenId": {
            "type": "string"
          }
        },
        "required": ["id", "issuedAt", "expiresAt"]
      },
      "WorkerInfoSchema": {
        "type": "object",
        "properties": {
          "runtime": {
            "type": "string"
          },
          "preset": {
            "type": "string"
          },
          "api_available": {
            "type": "boolean"
          },
          "server_side_rendering": {
            "type": "boolean"
          },
          "edge_functions": {
            "type": "boolean"
          },
          "cf_ray": {
            "type": "string"
          },
          "cf_ipcountry": {
            "type": "string"
          },
          "cf_connecting_ip": {
            "type": "string"
          },
          "worker_limits": {
            "type": "object",
            "properties": {
              "cpu_time": {
                "type": "string"
              },
              "memory": {
                "type": "string"
              },
              "request_timeout": {
                "type": "string"
              }
            },
            "required": ["cpu_time", "memory", "request_timeout"]
          }
        },
        "required": [
          "runtime",
          "preset",
          "api_available",
          "server_side_rendering",
          "edge_functions",
          "cf_ray",
          "cf_ipcountry",
          "cf_connecting_ip",
          "worker_limits"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/images/optimise": {
      "get": {
        "tags": ["Images"],
        "summary": "Get optimise",
        "description": "Optimize images using Cloudflare Images service",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "_def": {
                  "unknownKeys": "strip",
                  "catchall": {
                    "_def": {
                      "typeName": "ZodNever"
                    },
                    "~standard": {
                      "version": 1,
                      "vendor": "zod"
                    }
                  },
                  "typeName": "ZodObject"
                },
                "~standard": {
                  "version": 1,
                  "vendor": "zod"
                },
                "_cached": null
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file"
                  }
                },
                "required": ["image"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "result": {},
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "null"
                    },
                    "status": {
                      "type": ["object", "null"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": ["message"]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "page": {
                          "type": "number"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "total_pages": {
                          "type": "number"
                        },
                        "request_id": {
                          "type": "string"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": ["ok", "message", "error", "status", "timestamp"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [false]
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "type": ["object", "null"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": ["message"]
                    },
                    "details": {},
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": ["ok", "error", "message", "status", "timestamp"]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Images"],
        "summary": "Create/Update optimise",
        "description": "Optimize images using Cloudflare Images service",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "_def": {
                  "unknownKeys": "strip",
                  "catchall": {
                    "_def": {
                      "typeName": "ZodNever"
                    },
                    "~standard": {
                      "version": 1,
                      "vendor": "zod"
                    }
                  },
                  "typeName": "ZodObject"
                },
                "~standard": {
                  "version": 1,
                  "vendor": "zod"
                },
                "_cached": null
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file"
                  }
                },
                "required": ["image"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "result": {},
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "null"
                    },
                    "status": {
                      "type": ["object", "null"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": ["message"]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "page": {
                          "type": "number"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "total_pages": {
                          "type": "number"
                        },
                        "request_id": {
                          "type": "string"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": ["ok", "message", "error", "status", "timestamp"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [false]
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "type": ["object", "null"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": ["message"]
                    },
                    "details": {},
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": ["ok", "error", "message", "status", "timestamp"]
                }
              }
            }
          }
        }
      }
    },
    "/api/docs": {
      "get": {
        "tags": ["Documentation"],
        "summary": "Get docs",
        "description": "API documentation",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "result": {},
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "null"
                    },
                    "status": {
                      "type": ["object", "null"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": ["message"]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "page": {
                          "type": "number"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "total_pages": {
                          "type": "number"
                        },
                        "request_id": {
                          "type": "string"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": ["ok", "message", "error", "status", "timestamp"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [false]
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "type": ["object", "null"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": ["message"]
                    },
                    "details": {},
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": ["ok", "error", "message", "status", "timestamp"]
                }
              }
            }
          }
        }
      }
    },
    "/api/dashboard/{name}": {
      "get": {
        "tags": ["Dashboard"],
        "summary": "Get name",
        "description": "Dashboard data operations",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Name identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "result": {},
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "null"
                    },
                    "status": {
                      "type": ["object", "null"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": ["message"]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "page": {
                          "type": "number"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "total_pages": {
                          "type": "number"
                        },
                        "request_id": {
                          "type": "string"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": ["ok", "message", "error", "status", "timestamp"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [false]
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "type": ["object", "null"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": ["message"]
                    },
                    "details": {},
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": ["ok", "error", "message", "status", "timestamp"]
                }
              }
            }
          }
        }
      }
    },
    "/api/ping": {
      "get": {
        "tags": ["System"],
        "summary": "Get ping",
        "description": "System health and information",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "_def": {
                  "unknownKeys": "strip",
                  "catchall": {
                    "_def": {
                      "typeName": "ZodNever"
                    },
                    "~standard": {
                      "version": 1,
                      "vendor": "zod"
                    }
                  },
                  "typeName": "ZodObject"
                },
                "~standard": {
                  "version": 1,
                  "vendor": "zod"
                },
                "_cached": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cloudflare": {
                      "type": "object",
                      "properties": {
                        "connectingIP": {
                          "type": "string"
                        },
                        "country": {
                          "type": "object",
                          "properties": {
                            "ip": {
                              "type": "string"
                            },
                            "primary": {
                              "type": "string"
                            }
                          },
                          "required": ["ip", "primary"]
                        },
                        "datacentre": {
                          "type": "string"
                        },
                        "ray": {
                          "type": "string"
                        },
                        "request": {
                          "type": "object",
                          "properties": {
                            "agent": {
                              "type": "string"
                            },
                            "host": {
                              "type": "string"
                            },
                            "method": {
                              "type": "string"
                            },
                            "path": {
                              "type": "string"
                            },
                            "proto": {
                              "type": "object",
                              "properties": {
                                "forward": {
                                  "type": "string"
                                },
                                "request": {
                                  "type": "string"
                                }
                              },
                              "required": ["forward", "request"]
                            },
                            "version": {
                              "type": "string"
                            }
                          },
                          "required": ["agent", "host", "method", "path", "proto", "version"]
                        }
                      },
                      "required": ["connectingIP", "country", "datacentre", "ray", "request"]
                    },
                    "worker": {
                      "type": "object",
                      "properties": {
                        "edge_functions": {
                          "type": "boolean"
                        },
                        "environment": {
                          "type": "string"
                        },
                        "limits": {
                          "type": "object",
                          "properties": {
                            "cpu_time": {
                              "type": "string"
                            },
                            "memory": {
                              "type": "string"
                            },
                            "request_timeout": {
                              "type": "string"
                            }
                          },
                          "required": ["cpu_time", "memory", "request_timeout"]
                        },
                        "preset": {
                          "type": "string"
                        },
                        "runtime": {
                          "type": "string"
                        },
                        "server_side_rendering": {
                          "type": "boolean"
                        },
                        "version": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "edge_functions",
                        "environment",
                        "limits",
                        "preset",
                        "runtime",
                        "server_side_rendering",
                        "version"
                      ]
                    }
                  },
                  "required": ["cloudflare", "worker"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [false]
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "type": ["object", "null"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": ["message"]
                    },
                    "details": {},
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": ["ok", "error", "message", "status", "timestamp"]
                }
              }
            }
          }
        }
      }
    },
    "/api/ai/tickets/enrich": {
      "post": {
        "tags": ["AI"],
        "summary": "Create/Update enrich",
        "description": "AI-powered ticket operations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "_def": {
                  "schema": {
                    "_def": {
                      "unknownKeys": "strip",
                      "catchall": {
                        "_def": {
                          "typeName": "ZodNever"
                        },
                        "~standard": {
                          "version": 1,
                          "vendor": "zod"
                        }
                      },
                      "typeName": "ZodObject"
                    },
                    "~standard": {
                      "version": 1,
                      "vendor": "zod"
                    },
                    "_cached": null
                  },
                  "typeName": "ZodEffects",
                  "effect": {
                    "type": "refinement"
                  }
                },
                "~standard": {
                  "version": 1,
                  "vendor": "zod"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "type": "string"
                        }
                      },
                      "required": ["description"]
                    },
                    "status": {
                      "type": ["object", "null"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": ["message"]
                    },
                    "error": {
                      "type": "null"
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": ["ok", "result", "status", "error", "timestamp"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [false]
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "type": ["object", "null"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": ["message"]
                    },
                    "details": {},
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": ["ok", "error", "message", "status", "timestamp"]
                }
              }
            }
          }
        }
      }
    },
    "/api/ai/tickets/description": {
      "post": {
        "tags": ["AI"],
        "summary": "Create/Update description",
        "description": "AI-powered ticket operations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "_def": {
                  "unknownKeys": "strip",
                  "catchall": {
                    "_def": {
                      "typeName": "ZodNever"
                    },
                    "~standard": {
                      "version": 1,
                      "vendor": "zod"
                    }
                  },
                  "typeName": "ZodObject"
                },
                "~standard": {
                  "version": 1,
                  "vendor": "zod"
                },
                "_cached": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "type": "string"
                        }
                      },
                      "required": ["description"]
                    },
                    "status": {
                      "type": ["object", "null"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": ["message"]
                    },
                    "error": {
                      "type": "null"
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": ["ok", "result", "status", "error", "timestamp"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [false]
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "type": ["object", "null"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": ["message"]
                    },
                    "details": {},
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": ["ok", "error", "message", "status", "timestamp"]
                }
              }
            }
          }
        }
      }
    },
    "/api/ai/tickets/title": {
      "post": {
        "tags": ["AI"],
        "summary": "Create/Update title",
        "description": "AI-powered ticket operations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "_def": {
                  "schema": {
                    "_def": {
                      "unknownKeys": "strip",
                      "catchall": {
                        "_def": {
                          "typeName": "ZodNever"
                        },
                        "~standard": {
                          "version": 1,
                          "vendor": "zod"
                        }
                      },
                      "typeName": "ZodObject"
                    },
                    "~standard": {
                      "version": 1,
                      "vendor": "zod"
                    },
                    "_cached": null
                  },
                  "typeName": "ZodEffects",
                  "effect": {
                    "type": "refinement"
                  }
                },
                "~standard": {
                  "version": 1,
                  "vendor": "zod"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string"
                        }
                      },
                      "required": ["title"]
                    },
                    "status": {
                      "type": ["object", "null"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": ["message"]
                    },
                    "error": {
                      "type": "null"
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": ["ok", "result", "status", "error", "timestamp"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [false]
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "type": ["object", "null"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": ["message"]
                    },
                    "details": {},
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": ["ok", "error", "message", "status", "timestamp"]
                }
              }
            }
          }
        }
      }
    },
    "/api/ai/alt": {
      "post": {
        "tags": ["AI"],
        "summary": "Create/Update alt",
        "description": "Generate descriptive alt-text for images using AI",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "result": {},
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "null"
                    },
                    "status": {
                      "type": ["object", "null"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": ["message"]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "page": {
                          "type": "number"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "total_pages": {
                          "type": "number"
                        },
                        "request_id": {
                          "type": "string"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": ["ok", "message", "error", "status", "timestamp"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [false]
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "type": ["object", "null"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": ["message"]
                    },
                    "details": {},
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": ["ok", "error", "message", "status", "timestamp"]
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [false]
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "type": ["object", "null"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": ["message"]
                    },
                    "details": {},
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": ["ok", "error", "message", "status", "timestamp"]
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["AI"],
        "summary": "Get alt",
        "description": "Generate descriptive alt-text for images using AI",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "URL parameter",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "result": {},
                    "message": {
                      "type": "string"
                    },
                    "error": {
                      "type": "null"
                    },
                    "status": {
                      "type": ["object", "null"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": ["message"]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "page": {
                          "type": "number"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "total_pages": {
                          "type": "number"
                        },
                        "request_id": {
                          "type": "string"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": ["ok", "message", "error", "status", "timestamp"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [false]
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "type": ["object", "null"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": ["message"]
                    },
                    "details": {},
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": ["ok", "error", "message", "status", "timestamp"]
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [false]
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "type": ["object", "null"],
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": ["message"]
                    },
                    "details": {},
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": ["ok", "error", "message", "status", "timestamp"]
                }
              }
            }
          }
        }
      }
    },
    "/api/tokens/{uuid}": {
      "get": {
        "tags": ["Tokens"],
        "summary": "Get uuid",
        "description": "Token management operations",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "UUID identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "_def": {
                  "unknownKeys": "strip",
                  "catchall": {
                    "_def": {
                      "typeName": "ZodNever"
                    },
                    "~standard": {
                      "version": 1,
                      "vendor": "zod"
                    }
                  },
                  "typeName": "ZodObject"
                },
                "~standard": {
                  "version": 1,
                  "vendor": "zod"
                },
                "_cached": null
              }
            }
          }
        },
[...]
