name: devskim
on:
  push: null
  pull_request: null
permissions:
  actions: read
  contents: read
  security-events: write
jobs:
  devskim:
    name: devskim
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
      - name: analysis
        uses: microsoft/DevSkim-Action@4b5047945a44163b94642a1cecc0d93a3f428cc6
      - name: upload
        uses: github/codeql-action/upload-sarif@573acd9552f33577783abde4acb66a1058e762e5
        with:
          sarif_file: devskim-results.sarif
